<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Plan New Trip</title>
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <h1>Hello {{ session['first_name'] }}! Plan your next trip!</h1>
      <a href="/logout" class="col-md-4 offset-md-4">Logout</a>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages%}
            <p class="red">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="row">
      <div class="col">
        <form action="/new_trips" method="POST">
          <p>Destination: <input type="text" name="destination" class="form-control"></p>
          <p>Start Date: <input type="date" name="sdate" class="form-control"></p>
          <p>End Date: <input type="date" name="edate" class="form-control"></p>
          <p>Plan: <input type="text" name="plan" class="form-control"></p>
          <a href="/dashboard"><input class="btn btn-outline-primary" value="Cancel"></a>
          <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
